{% extends 'base.html.twig' %}

{% block title %}
    {{ article.titre }}
{% endblock %}

{% block body %}

    <h1>{{ article.titre }}</h1>
    <p>
        <a href="{{ path('edition_article', { 'id':article.id }) }}">Editer</a>
    </p>
    <p>{{ article.dateCreation|date('d/m/Y') }}</p>
    <p>{{ article.contenu }}</p>

    {% if article.comments is not empty %}
        <h2>Commentaires</h2>
        <div class="raw">
            {% for comment in article.comments %}
                <div class="col-md-12">
                    <small>Le {{ comment.dateComment|date('d/m/Y') }} par {{ comment.author }}</small>
                    <p>{{ comment.contenu }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% for label, messages in app.flashes(['warning', 'danger']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="raw">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.contenu, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.author, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.condition, null, {'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_widget(form.condition, {'attr': {'class': 'form-check-input'}}) }}
            </div>
            <div class="form-group"></div>
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}